<!DOCTYPE html>
<html>
<head>
    <title>Sales Prediction System</title>
</head>
<body>

<h2>Sales Prediction</h2>

<form method="POST">
    {% csrf_token %}

    <label>Category</label>

    <select name="category">
        {% for item in categories %}
            <option value="{{ item }}">{{ item }}</option>
        {% endfor %}
    </select>

    <br><br>

    <label>Sub Category</label>

    <select name="sub_category">
        {% for item in sub_categories %}
            <option value="{{ item }}">{{ item }}</option>
        {% endfor %}
    </select>

    <br><br>

    <label>Region</label>

    <select name="region">
        {% for item in regions %}
            <option value="{{ item }}">{{ item }}</option>
        {% endfor %}
    </select>

    <br><br>

    <label>State</label>

    <select name="state">
        {% for item in states %}
            <option value="{{ item }}">{{ item }}</option>
        {% endfor %}
    </select>

    <br><br>

    <label>City</label>

    <select name="city">
        {% for item in cities %}
            <option value="{{ item }}">{{ item }}</option>
        {% endfor %}
    </select>

    <br><br>

    <label>Segment</label>

    <select name="segment">
        {% for item in segments %}
            <option value="{{ item }}">{{ item }}</option>
        {% endfor %}
    </select>

    <br><br>

    <label>Ship Mode</label>

    <select name="ship_mode">
        {% for item in ship_modes %}
            <option value="{{ item }}">{{ item }}</option>
        {% endfor %}
    </select>

    <br><br>

    <label>Quantity</label><br>
    <input type="number" name="quantity">

    <br><br>

    <label>Discount</label><br>
    <input type="number" step="0.01" name="discount">

    <br><br>

    <button type="submit">Predict</button>

</form>
{% if prediction %}

<hr>

<h2>Predicted Sales</h2>

<h1>$ {{ prediction|floatformat:2 }}</h1>

{% endif %}

</body>
</html>